<section class="jumbotron">
    <div class="container text-center">
        <h1 class="jumbotron-heading mb-3">
            Upcoming races
        </h1>
        <p>
            Sometimes you just have the urge to go fast!
            <br><strong>Paddock</strong> can get you <strong><i>the drop</i></strong> on the next track day.
            {{!-- <br>Enter your car info in the garage and get on the track! --}}
            <br>Check out the track info below!
        </p>
        <div class="text-center">
            <div class="col-lg-4 offset-lg-4">
                {{!-- <button type="submit" class="btn2 mt-3 mb-5"> --}}
                    <a class="btn btn2" href="/garage">Go to your garage</a>
            </div>
            {{!-- <img src="./assets/chicken.normal.png" class="img-fluid" width="80px" height="80px" alt="chicken">
            --}}
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="text-center pb-4">
        <h3 class="font-weight-bold py-4">Events &amp; Race Tracks:</h3>
    </div>
    <div class="container">
        <div class="row">

            {{#each races as |race|}}
            <div class="col-md-4">
                <div class="card m-4 box-shadow p-3">
                    <img src="https://image.freepik.com/free-vector/suzuka-circuit-motorsport-autosport-japan-grand-prix-race-track_97886-5398.jpg"
                        class="card-img-top" alt="suzuka">
                    <h5 class="card-title text-center pt-3">{{race.title}}</h5>
                    <ul>
                        <li>{{race.location_town}}</li>
                        <li>{{race.location_state}}</li>
                        <li>{{race.race_date}}</li>
                    </ul>
                    {{!-- this will be a dropdown with a list of items to register for race --}}
                    <form>
                        <select class="form-control" aria-label="default selection">
                            <option selected>Garage</option>
                            {{!-- remember directory structure for nested handlbars to access data ../ --}}
                            {{#each ../cars as |car|}}
                            <option>{{car.make}} {{car.model}}</option>
                            {{/each}}
                        </select>
                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-dark">Register for race</button>
                        </div>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>