<section class="jumbotron">
    <div class="container text-center">
        <h1 class="jumbotron-heading">
            Upcoming races
        </h1>
        <p>
            Sometimes you just wanna go fast. Check out the track info below to get started.
        </p>
        <div class="text-center">
            <div class="col-lg-4 offset-lg-4">
                <button type="button" class="btn1 mt-3 mb-5">
                    Sign-in to view races?
                </button>
            </div>
        </div>
    </div>
</section>

{{!-- vv Cards only available after user login? vv --}}
{{!-- Need to fix img links, won't load from assets? --}}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            {{#each races as |race|}}
            <div class="col-md-4">
                <div class="card m-4 box-shadow p-3">
                    <img src="https://image.freepik.com/free-vector/suzuka-circuit-motorsport-autosport-japan-grand-prix-race-track_97886-5398.jpg"
                        class="card-img-top" alt="suzuka">
                    <h5 class="card-title text-center pt-3">{{race.title}}</h5>
                    <ul>
                        <li>{{race.location_town}}</li>
                        <li>{{race.location_state}}</li>
                        <li>{{race.race_date}}</li>
                    </ul>
                    {{!-- this will be a dropdown with a list of items to register for race --}}
                    <form>
                        <select class="form-control">
                            <option>{{car.make}}{{car.model}}</option>
                            <option>car selection</option>
                        </select>
                        <div class="mt-4 text-center">
                            <a href="submit" class="btn btn-dark">Register for race</a>
                        </div>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</div>
</div>

{{!-- Need links and hrefs etc for items ^^^^ --}}

{{!-- ============================================================================ --}}

{{!-- <p>this is the homepage</p>
<p>TODO: Display upcoming Races</p>
<p>accessible info includes</p>
<ul>
    <li>race id</li>
    <li>location name</li>
    <li>race location_town</li>
    <li>race location state</li>
    <li>race date</li>
</ul>
{{#each races as |race|}}
<a href="/race/{{race.id}}">
    <div>
        <p>race id: {{race.id}}</p>
        <p>location name: {{race.title}}</p>
        <p>race location_town: {{race.location_town}}</p>
        <p>race location_state: {{race.location_state}}</p>
        <p>race date: {{race.race_date}}</p>
    </div>
</a>
<hr class="m-3">
{{/each}} --}}